body {
    margin: 0px;
    background: #0B7D54;
}

.ranking-board {
    color: white;
    padding: 20px;
    font-family: "Pretendard";
    position: relative;
  }
  
  .ranking-title {
    margin-top: 7%;
    text-align: center;
    color: #FCFCFC;
    font-family: Pretendard;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  
  .ranking-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .ranking-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    color: #FCFCFC;
    font-family: Pretendard;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5%;
  }
  
  .player-info {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .trophy {
    width: 96px;
    height: 96px;
    aspect-ratio: 1/1;
  }
  
  .score {
    font-weight: bold;
  }
  